body {
  min-width: 1000px;
}

li {
  list-style-type: none;
}

header {
  height: 55px;
  border-bottom: gray solid 2px;
  display: table;
  width: 100%;
  min-width: 1000px;
}

header div {
  height: 50px;
}

.header_title {
  width: 200px;
  margin-right: auto;
  margin-left: 5px;
}

.header_slogan {
  width: 220px;
  margin-left: auto;
  vertical-align: bottom;
  display: table-cell;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 5px;
}

.header_title h1,
.header_slogan p {
  margin: 0;
}

.header_slogan p {
  font-style: italic;
}

.menulist {
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.menulist li {
  font-size: 20px;
  padding: 10px;
}

.contents {
  width: 75%;
  float: right;
  overflow-y: scroll;
  height: 100%;
}

.sidemenu {
  width: 25%;
  float: left;
}

.body {
  height: 85%;
  padding: 15px 10px;
}

.menulist li {
  background-color: white;
  color: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all  0.5s ease;
}

.menulist li:hover {
  background-color: #222;
  color: white;
}

.sidemenu hr {
  width: 90%;
  margin-left: 0;
}

.top_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_logo img {
  height: 100%;
}

.media_link_image {
  min-width: 700px;
  height: 200px;
  text-align: center;
  position: relative;
}

/* media_link_imageは標準で高さフィット */
.media_link_image img, video {
  height: inherit;
}

.image_crop {
  overflow: hidden;
}

.image_crop img, video {
  height: initial;
  position: absolute;
  left: 50%;
  top: 50%;
  /*-webkit-transform: translate3d(-50%, -50%, 0);*/
  transform: translate3d(-50%, -50%, 0);
}

.media_links {
  margin: 0;
  padding: 0;
}

.media_links li {
  margin: 0 auto;
  min-width: 700px;
  width: 95%
}

.media_link_detail {
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all  0.5s ease;
}

.media_link_detail:hover {
  opacity: 1;
}

.media_link_title {
  text-align: left;
  position: absolute;
  left: 20px;
  top: 75px;
  font-family: "fatfrank",sans-serif;
  color: white;
  font-size: 50px;
}

.about_members {
  width: 50%;
  float: left;
}

.member_name {
  font-size: x-large;
}

.about_photo {
  width: 40%;
  float: right;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.contacts a {
  text-decoration: underline;
}
